.pageEditor {
	width:100%;
	height:100%;
}

.gjs-pn-panels {
	width:100%;
	height:100%;
}

.gjs-pn-views,
.gjs-pn-views-container {
	width:230px;
}

.gjs-pn-options {
	right:230px;
}
.gjs-cv-canvas,
.gjs-pn-command {
	width: calc(100% - 230px);
}

.gjs-frame {
	max-width:100%;
}

.gjs-block-label {
	font-family:Helvetica, sans-serif;
	font-size: 11px;
}
