.flag{	
height:23px;
width:37px;
background:url("../images/flags/flags_37x23_matrix.png") no-repeat 0 25px;
}
.flag.AD{background-position:0 0}
.flag.AE{background-position:0 -25px}
.flag.AF{background-position:0 -50px}
.flag.AG{background-position:0 -75px}
.flag.AI{background-position:0 -100px}
.flag.AL{background-position:0 -125px}
.flag.AM{background-position:0 -150px}
.flag.AN{background-position:0 -175px}
.flag.AO{background-position:0 -200px}
.flag.AQ{background-position:0 -225px}
.flag.AR{background-position:0 -250px}
.flag.AS{background-position:0 -275px}
.flag.AT{background-position:0 -300px}
.flag.AU{background-position:0 -325px}
.flag.AW{background-position:0 -350px}
.flag.AX{background-position:0 -375px}
.flag.AZ{background-position:0 -400px}
.flag.BA{background-position:0 -425px}
.flag.BB{background-position:0 -450px}
.flag.BD{background-position:0 -475px}
.flag.BE{background-position:0 -500px}
.flag.BF{background-position:0 -525px}
.flag.BG{background-position:0 -550px}
.flag.BH{background-position:0 -575px}
.flag.BI{background-position:0 -600px}
.flag.BJ{background-position:0 -625px}
.flag.BL{background-position:0 -650px}
.flag.BM{background-position:0 -675px}
.flag.BN{background-position:0 -700px}
.flag.BO{background-position:0 -725px}
.flag.BR{background-position:0 -750px}
.flag.BS{background-position:0 -775px}
.flag.BT{background-position:0 -800px}
.flag.BV{background-position:0 -825px}
.flag.BW{background-position:0 -850px}
.flag.BY{background-position:0 -875px}
.flag.BZ{background-position:0 -900px}
.flag.CA{background-position:0 -925px}
.flag.CC{background-position:0 -950px}
.flag.CD{background-position:0 -975px}
.flag.CF{background-position:0 -1000px}
.flag.CG{background-position:0 -1025px}
.flag.CH{background-position:0 -1050px}
.flag.CI{background-position:0 -1075px}
.flag.CK{background-position:0 -1100px}
.flag.CL{background-position:0 -1125px}
.flag.CM{background-position:0 -1150px}
.flag.CN{background-position:0 -1175px}
.flag.CO{background-position:0 -1200px}
.flag.CR{background-position:0 -1225px}
.flag.CU{background-position:0 -1250px}
.flag.CV{background-position:0 -1275px}
.flag.CX{background-position:0 -1300px}
.flag.CY{background-position:0 -1325px}
.flag.CZ{background-position:0 -1350px}
.flag.DE{background-position:0 -1375px}
.flag.DJ{background-position:0 -1400px}
.flag.DK{background-position:0 -1425px}
.flag.DM{background-position:0 -1450px}
.flag.DO{background-position:0 -1475px}
.flag.DZ{background-position:0 -1500px}
.flag.EC{background-position:0 -1525px}
.flag.EE{background-position:0 -1550px}
.flag.EG{background-position:0 -1575px}
.flag.EH{background-position:0 -1600px}
.flag.ER{background-position:0 -1625px}
.flag.ES{background-position:0 -1650px}
.flag.ET{background-position:0 -1675px}
.flag.FI{background-position:0 -1700px}
.flag.FJ{background-position:0 -1725px}
.flag.FK{background-position:0 -1750px}
.flag.FM{background-position:0 -1775px}
.flag.FO{background-position:0 -1800px}
.flag.FR{background-position:0 -1825px}
.flag.GA{background-position:0 -1850px}
.flag.GB{background-position:0 -1875px}
.flag.GD{background-position:0 -1900px}
.flag.GE{background-position:0 -1925px}
.flag.GF{background-position:0 -1950px}
.flag.GG{background-position:0 -1975px}
.flag.GH{background-position:0 -2000px}
.flag.GI{background-position:0 -2025px}
.flag.GL{background-position:0 -2050px}
.flag.GM{background-position:0 -2075px}
.flag.GN{background-position:0 -2100px}
.flag.GP{background-position:0 -2125px}
.flag.GQ{background-position:0 -2150px}
.flag.GR{background-position:0 -2175px}
.flag.GS{background-position:0 -2200px}
.flag.GT{background-position:0 -2225px}
.flag.GU{background-position:0 -2250px}
.flag.GW{background-position:0 -2275px}
.flag.GY{background-position:0 -2300px}
.flag.HK{background-position:0 -2325px}
.flag.HM{background-position:0 -2350px}
.flag.HN{background-position:0 -2375px}
.flag.HR{background-position:0 -2400px}
.flag.HT{background-position:0 -2425px}
.flag.HU{background-position:0 -2450px}
.flag.ID{background-position:0 -2475px}
.flag.IE{background-position:0 -2500px}
.flag.IL{background-position:0 -2525px}
.flag.IM{background-position:0 -2550px}
.flag.IN{background-position:0 -2575px}
.flag.IO{background-position:0 -2600px}
.flag.IQ{background-position:0 -2625px}
.flag.IR{background-position:0 -2650px}
.flag.IS{background-position:0 -2675px}
.flag.IT{background-position:0 -2700px}
.flag.JE{background-position:0 -2725px}
.flag.JM{background-position:0 -2750px}
.flag.JO{background-position:0 -2775px}
.flag.JP{background-position:0 -2800px}
.flag.KE{background-position:0 -2825px}
.flag.KG{background-position:0 -2850px}
.flag.KH{background-position:0 -2875px}
.flag.KI{background-position:0 -2900px}
.flag.KM{background-position:0 -2925px}
.flag.KN{background-position:0 -2950px}
.flag.KP{background-position:0 -2975px}
.flag.KR{background-position:0 -3000px}
.flag.KW{background-position:0 -3025px}
.flag.KY{background-position:0 -3050px}
.flag.KZ{background-position:0 -3075px}
.flag.LA{background-position:0 -3100px}
.flag.LB{background-position:0 -3125px}
.flag.LC{background-position:0 -3150px}
.flag.LI{background-position:0 -3175px}
.flag.LK{background-position:0 -3200px}
.flag.LR{background-position:0 -3225px}
.flag.LS{background-position:0 -3250px}
.flag.LT{background-position:0 -3275px}
.flag.LU{background-position:0 -3300px}
.flag.LV{background-position:0 -3325px}
.flag.LY{background-position:0 -3350px}
.flag.MA{background-position:0 -3375px}
.flag.MC{background-position:0 -3400px}
.flag.MD{background-position:0 -3425px}
.flag.ME{background-position:0 -3450px}
.flag.MF{background-position:0 -3475px}
.flag.MG{background-position:0 -3500px}
.flag.MH{background-position:0 -3525px}
.flag.MK{background-position:0 -3550px}
.flag.ML{background-position:0 -3575px}
.flag.MM{background-position:0 -3600px}
.flag.MN{background-position:0 -3625px}
.flag.MO{background-position:0 -3650px}
.flag.MP{background-position:0 -3675px}
.flag.MQ{background-position:0 -3700px}
.flag.MR{background-position:0 -3725px}
.flag.MS{background-position:0 -3750px}
.flag.MT{background-position:0 -3775px}
.flag.MU{background-position:0 -3800px}
.flag.MV{background-position:0 -3825px}
.flag.MW{background-position:0 -3850px}
.flag.MX{background-position:0 -3875px}
.flag.MY{background-position:0 -3900px}
.flag.MZ{background-position:0 -3925px}
.flag.NA{background-position:0 -3950px}
.flag.NC{background-position:0 -3975px}
.flag.NE{background-position:0 -4000px}
.flag.NF{background-position:0 -4025px}
.flag.NG{background-position:0 -4050px}
.flag.NI{background-position:0 -4075px}
.flag.NL{background-position:0 -4100px}
.flag.NO{background-position:0 -4125px}
.flag.NP{background-position:0 -4150px}
.flag.NR{background-position:0 -4175px}
.flag.NU{background-position:0 -4200px}
.flag.NZ{background-position:0 -4225px}
.flag.OM{background-position:0 -4250px}
.flag.PA{background-position:0 -4275px}
.flag.PE{background-position:0 -4300px}
.flag.PF{background-position:0 -4325px}
.flag.PG{background-position:0 -4350px}
.flag.PH{background-position:0 -4375px}
.flag.PK{background-position:0 -4400px}
.flag.PL{background-position:0 -4425px}
.flag.PM{background-position:0 -4450px}
.flag.PN{background-position:0 -4475px}
.flag.PR{background-position:0 -4500px}
.flag.PS{background-position:0 -4525px}
.flag.PT{background-position:0 -4550px}
.flag.PW{background-position:0 -4575px}
.flag.PY{background-position:0 -4600px}
.flag.QA{background-position:0 -4625px}
.flag.RE{background-position:0 -4650px}
.flag.RO{background-position:0 -4675px}
.flag.RS{background-position:0 -4700px}
.flag.RU{background-position:0 -4725px}
.flag.RW{background-position:0 -4750px}
.flag.SA{background-position:0 -4775px}
.flag.SB{background-position:0 -4800px}
.flag.SC{background-position:0 -4825px}
.flag.SD{background-position:0 -4850px}
.flag.SE{background-position:0 -4875px}
.flag.SG{background-position:0 -4900px}
.flag.SH{background-position:0 -4925px}
.flag.SI{background-position:0 -4950px}
.flag.SJ{background-position:0 -4975px}
.flag.SK{background-position:0 -5000px}
.flag.SL{background-position:0 -5025px}
.flag.SM{background-position:0 -5050px}
.flag.SN{background-position:0 -5075px}
.flag.SO{background-position:0 -5100px}
.flag.SR{background-position:0 -5125px}
.flag.SS{background-position:0 -6375px}
.flag.ST{background-position:0 -5150px}
.flag.SV{background-position:0 -5175px}
.flag.SY{background-position:0 -5200px}
.flag.SZ{background-position:0 -5225px}
.flag.TC{background-position:0 -5250px}
.flag.TD{background-position:0 -5275px}
.flag.TF{background-position:0 -5300px}
.flag.TG{background-position:0 -5325px}
.flag.TH{background-position:0 -5350px}
.flag.TJ{background-position:0 -5375px}
.flag.TK{background-position:0 -5400px}
.flag.TL{background-position:0 -5425px}
.flag.TM{background-position:0 -5450px}
.flag.TN{background-position:0 -5475px}
.flag.TO{background-position:0 -5500px}
.flag.TR{background-position:0 -5525px}
.flag.TT{background-position:0 -5550px}
.flag.TV{background-position:0 -5575px}
.flag.TW{background-position:0 -5600px}
.flag.TZ{background-position:0 -5625px}
.flag.UA{background-position:0 -5650px}
.flag.UG{background-position:0 -5675px}
.flag.UM{background-position:0 -5700px}
.flag.US{background-position:0 -5725px}
.flag.UY{background-position:0 -5750px}
.flag.UZ{background-position:0 -5775px}
.flag.VA{background-position:0 -5800px}
.flag.VC{background-position:0 -5825px}
.flag.VE{background-position:0 -5850px}
.flag.VG{background-position:0 -5875px}
.flag.VI{background-position:0 -5900px}
.flag.VN{background-position:0 -5925px}
.flag.VU{background-position:0 -5950px}
.flag.WF{background-position:0 -5975px}
.flag.WS{background-position:0 -6000px}
.flag.XK{background-position:0 -6350px}
.flag.YE{background-position:0 -6025px}
.flag.YT{background-position:0 -6050px}
.flag.ZA{background-position:0 -6075px}
.flag.ZM{background-position:0 -6100px}
.flag.ZW{background-position:0 -6125px}
.flag.AC{background-position:0 -6150px}
.flag.IZ{background-position:0 -6175px}
.flag.SQ{background-position:0 -6200px}
.flag.skypename{background-position:0 -6225px}
.flag.SX{background-position:0 -6250px}
.flag.UN{background-position:0 -6275px}
.flag.VO,
.flag.INT882,
.flag.INT883{background-position:0 -6300px}
.flag.XX{background-position:0 -6325px}